:root {
    --bg-color: rgb(36, 43, 46);
    --intro-ch-color: #cad5e2;
    --nav-ch-cholor: #e9edf1;
    font-size: 16px;
    --typewriterSpeed: 2s;
    --typewriterCharacters: 35;
    scroll-behavior: smooth;
    font-family: "Ubuntu Mono", monospace;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Media queruies */
  @media (prefers-reduced-motion: no-preference) {
    .profile-anim {
      animation: fadeInLeft 800ms forwards ease-in;
    }
  }
  
  @media only screen and (max-width: 920px) {
    .btn {
      font-size: 1rem;
      padding: 14px 18px;
    }
    .arrow-down {
      bottom: 0%;
    }
    #about article {
      margin: 25px;
      width: auto;
    }
    #about article span {
      font-size: 2em;
    }
    #about article span {
      font-size: 1.5rem;
    }
  }
  
  /* Animations */
  /* Intro type Animations */
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes sub_fadein {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Arrow animation */
  
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
  /* Custom Anim */
  /* @keyframes navDrop {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(8%);
    }
    65% {
      transform: translateY(-4%);
    }
    80% {
      transform: translateY(4%);
    }
    95% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes navDrop {
    0% {
      -webkit-transform: translateY(-100%);
    }
    50% {
      -webkit-transform: translateY(8%);
    }
    65% {
      -webkit-transform: translateY(-4%);
    }
    80% {
      -webkit-transform: translateY(4%);
    }
    95% {
      -webkit-transform: translateY(-2%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50vh);
    }
    100% {
      opacity: 1;
      transform: translateX(-15%);
    }
  } */
  