---
import Buttons from "./ui/buttons.astro";
import Toogletheme from "./ui/toogletheme.astro";

const menuItems = [
  {
    title: "About",
    path: "#about",
  },
  {
    title: "Projects",
    path: "#projects",
  },
  {
    title: "CV",
    path: "#cv",
  },
  {
    title: "Contact",
    path: "#contacts",
  },
];

const profileImageUrl = "/assets/profile-img.jpeg";
---

<div class="flex">
  <aside
    class="fixed left-0 top-0 h-screen w-64 bg-white dark:bg-gray-800 shadow-md transition-all duration-300 transform -translate-x-full md:translate-x-0 "
    id="sidebar"
  >
    <div class="flex flex-col items-center justify-center h-full ">
      <img
        src={profileImageUrl}
        alt="Profile Picture"
        class="w-32 h-32 sm:w-40 sm:h-40 md:w-48 md:h-48 rounded-full mb-4 object-cover"
      />
      <div class="flex items-center mb-8">
        <a href="/" class="text-2xl font-bold text-gray-800 dark:text-white">
          Antarip Gohain
        </a>
      </div>
      <nav class="flex flex-col space-y-4">
        {
          menuItems.map((item) => (
            <a
              href={item.path}
              class="text-gray-600 hover:text-gray-900 dark:text-gray-200 dark:hover:text-white px-3 py-2 rounded-md font-medium trasition-colors duration-300 tranlate-x-10"
              data-animation="fadeInLeft"
            >
              <span class="current-indicator mr-2">▶</span>
              {item.title}
            </a>
          ))
        }
      </nav>
      <div class="mt-8 flex items-center space-x-4">
        <Toogletheme />
      </div>
    </div>
  </aside>
  <main class="ml-0 md:ml-64 flex-1">
    <!-- The main content goes here -->
  </main>
  <button
    class="fixed bottom-4 right-4 md:hidden bg-gray-800 text-white p-2 rounded-full shadow-md"
    id="toggle-sidebar"
  >
    <svg
      class="h-6 w-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</div>

<script>
  const sidebar: HTMLElement | null = document.getElementById("sidebar");
  const toggleSidebar: HTMLElement | null =
    document.getElementById("toggle-sidebar");

  toggleSidebar?.addEventListener("click", () => {
    sidebar?.classList.toggle("-translate-x-full");
    sidebar?.classList.toggle("translate-x-0");
  });
</script>

<style>
  #sidebar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  #sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none; /* Chrome, Safari, Opera */
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
